* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.head {
  height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-left {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-right {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-search, .fa-align-justify, .fa-user, .fa-shopping-cart {
  color: #E8E8E8;
  font-size: 25px;
}

.banner {
  background-color: #F1E4E6;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}

.banner-img {
  width: 100%;
}

.banner-text {
  height: 92px;
  width: 405px;
  margin-top: 25%;
  float: left;
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
}

.brand {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  color: #222222;
}

.text-fashion {
  font-weight: 700;
  line-height: 38,4px;
  font-size: 32px;
  text-transform: uppercase;
  color: #222222;
}

.span-fashion {
  font-weight: 700;
  line-height: 38,4px;
  font-size: 32px;
  text-transform: uppercase;
  color: #f16d7f;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 56px;
}

.offer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.offer-top-photo {
  width: 32%;
}

.offer-top-img {
  width: 100%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.offer-top-img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product-top {
  text-align: center;
  margin-bottom: 48px;
}

.product-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #222222;
}

.product-p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product-card {
  position: relative;
  width: 32%;
}

.product-link {
  display: block;
  text-decoration: none;
}

.product-img {
  display: block;
  width: 100%;
}

.product-text-box {
  background-color: #F8F8F8;
}

.product-text-mg {
  padding: 25px 28px 20px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 15.6px;
  padding-bottom: 12px;
}

.product-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.product-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */